/* .landingWrapper {
  display: flex;
  flex-direction: column;
  column-width: 50%;
  padding-bottom: 40px;
}} */

.projectLink {
  display: flex;
  flex-direction: row;
  column-width: 50%;
  padding-bottom: 40px;
}
.leftSidePage {
  width: 50%;
}

.landingPreview {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-left: 24px;
  height: 65vh;
  width: 45vw;
}
.description {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-color: rebeccapurple;
  border-style: solid;
  padding: 12px;
  margin-top: 8px;
  margin-left: 24px;
  width: 45vw;
}

/*==============create menu effect below =====================*/
.rightSidePage {
  display: flex;
  flex-direction: column;
}
.rightSidePage li {
  list-style: none;
  padding-top: 3px;
}

.projectList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: fixed;
  top: 138px;
  right: 84px;
  text-align: right;
  list-style: none;
}

.projectList li {
  padding-top: 12px;
}

#pTitle {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 600;
  color: rgb(38, 38, 71);
  margin-bottom: 15px;
}
#professional {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  color: rgb(55, 55, 85);
  margin-top: 25vh;
  margin-bottom: 5px;
  margin-left: 108px;
  /* width: 400px; */
}

#personal {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  color: rgb(55, 55, 85);
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 108px;
}

#techUsed {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
  color: rgb(55, 55, 85);
  margin-top: 40px;
  margin-bottom: 5px;
  margin-left: 108px;
  /* width: 400px; */
  z-index: +2;
}

#techParagraph {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 108px;
  margin-right: 20px;
  color: white;
  padding: 16px;
  padding-left: 16px;
  padding-right: 36px;
  width: fit-content;
  background-color: rgb(6, 6, 86);
  height: fit-content;
  list-style: none;
}
