.landingPageFlex {
  display: flex;
  flex-direction: row;
}

.landingPreviewPic {
  margin-top: 1%;
  margin-left: 2%;
  width: 40vw;
}

#description {
  border-width: 1px;
  border-color: rebeccapurple;
  border-style: solid;
  padding: 1%;
  margin-top: 8px;
  margin-left: 2%;
  width: 40vw;
}

#titles {
  font-size: 22px;
  font-weight: 600;
  color: rgb(38, 38, 71);
  margin-bottom: 1%;
}

#techUsedTitle {
  border-width: 1px;
  border-color: rebeccapurple;
  border-style: solid;
  padding: 1%;
  margin-top: 8px;
  margin-left: 2%;
  width: 40vw;
}

#techUsedParagraph {
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 20px;
  background-color: rgb(33, 33, 124);
  color: white;
  padding: 12px;
  margin-right: 2px;
  width: 250px;
}
.projectsTechColumn {
  width: 44%;
}

#comingSoonHorse {
  padding-left: 10%;
  margin-top: 4%;
  font-weight: 600;
}

#landingHorseImage {
  width: 39svw;
}
#video {
  padding-top: 2%;
  width: 37vw;
}
