#projectsTitle {
  margin-bottom: 6px;
}

.projectList {
  position: fixed;
  margin-top: 23%;
  margin-right: 4%;
  margin-left: 3%;
  text-align: right;
  list-style: none;
  line-height: 14px;
}
.projectList li {
  padding-top: 12px;
}
