/* .projectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.projectFrame {
  margin-right: 38%;
  margin-top: 2px;
}

.projectIframe {
  transform: scale(0.85) translate(2%, -6%);
}

.projectDescription {
  margin-top: -4%;
  margin-right: 36%;
  padding-bottom: 2%;
  margin-left: 5%;
} */
