#wsforbeginPreviewPic {
  display: inline-block;
  margin-left: 2%;
  width: 30vw;
}

#ws4bDescription {
  border-width: 1px;
  border-color: rebeccapurple;
  border-style: solid;
  padding: 1%;
  margin-top: 8px;
  margin-left: 2%;
  width: 30vw;
}

#ws4bTechUsedTitle {
  border-width: 1px;
  border-color: rebeccapurple;
  border-style: solid;
  padding: 1%;
  margin-top: 8px;
  margin-left: 2%;
  width: 30vw;
}
