* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(240, 200, 0);
}

.App {
  padding-top: 80px;
  /* background-color: rgb(240, 200, 0); */
}

.homePic {
  display: flex;
  flex-direction: row;
  margin-top: 28px;
  margin-left: 24px;
  height: 100vh;
}

#project2 {
  padding: 8px;
}
