.navWrapper {
  position: absolute;
  width: 100%;
  padding-right: 8px;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.5);

  top: 0;
  background-color: rgb(240, 200, 0);
}

nav {
  position: relative;
  margin-left: auto;
  height: 36px;
  width: 200px;
  background-color: rgb(240, 200, 0);
  margin-right: 140px;
}

#nav1 {
  display: inline-block;
  position: absolute;
  list-style-type: none;
  /* background-color: rgb(145, 17, 30); */
}

#nav1 li {
  display: none;
  padding: 6px;
  width: 160px;
  margin-left: 20px;
  background-color: transparent;
}
/* #nav1 li:nth-child(1) {
  margin-top: 19px;
  padding-top: 12px;
} */

#nav1::before {
  padding: 8px;
  display: inline-block;
  content: "1/4 Lb.";
  font-weight: 600;
}

#nav1:hover li {
  display: block;
}

a {
  text-decoration: none;
  color: rgb(49, 23, 105);
  font-size: large;
}

a:hover {
  color: rgb(10, 37, 158);
  /* background-color: beige; */
  font-weight: bold;
}

h1 {
  padding-top: 20px;
  padding-left: 36px;
  font-size: 1.5em;
}
